<template>
  <div
    id="button"
    class="button"
    @click="goToOrderDetail"
  />
</template>

<script>

export default {
  name: 'Button',
  components: {
  },
  props: {
    params: { type: Object, default: () => {} },
  },
  data() {
    return {};
  },
  mounted() {
  },
  methods: {
    goToOrderDetail() {
      this.$router.push({ name: 'OrderDetail', params: this.params });
    },
  },
};
</script>

<style lang="scss">
$mobile: 768px;

@media (min-width: $mobile +1) {
    .button{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #84DADE;
        border-radius: 5px;
        width: 136px;
        height: 40px;
        cursor:pointer;
        color: #FFFFFF;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;

        &:after{
            content:'VER PEDIDO';
        }
    }
}
@media (max-width: $mobile){
    .button{
        &:after{content:'➜'}
    }
}
</style>
