<template>
  <div class="box">
    <div class="orderHeader">
      Recogida y entrega
    </div>
    <div class="deliveryContent">
      <div
        v-for="visit in order.visits"
        :key="visit.id"
        :class="{'orderOne': visit.visitTypeCode==='PICKUP', 'orderTwo':visit.visitTypeCode==='DELIVERY'}"
      >
        <div
          v-if="(visit.visitTypeCode
            ===
            'PICKUP')"
        >
          <div class="pickUpDelivery InfoHeader">
            DATOS DE RECOGIDA
          </div>
          <div class="pickUpDelivery data">
            <div>{{ parseDateWithDay(visit.date) }} {{ parseDate(visit.date) }}</div> <div>{{ parseTime(visit.timeSlotStart) }} - {{ parseTime(visit.timeSlotEnd) }}</div>
          </div>
          <div class="pickUpDelivery address">
            <div class="pickUpDelivery icon" />{{ addresses[visit.addressId][0].address }}
          </div>
        </div>
        <div
          v-if="(visit.visitTypeCode
            ===
            'DELIVERY')"
        >
          <div class="pickUpDelivery InfoHeader">
            DATOS DE ENTREGA
          </div>
          <div class="pickUpDelivery data">
            <div>{{ parseDateWithDay(visit.date) }} {{ parseDate(visit.date) }}</div> <div>{{ parseTime(visit.timeSlotStart) }} - {{ parseTime(visit.timeSlotEnd) }}</div>
          </div>
          <div class="pickUpDelivery address">
            <div class="pickUpDelivery icon" />{{ addresses[visit.addressId][0].address }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'DeliveryBox',
  components: {
  },
  props: {
    order: { type: Object, default: () => {} },
    products: { type: Object, default: () => {} },
    addresses: { type: Object, default: () => {} },
  },
  data() {
    return {};
  },
  mounted() {
  },
  methods: {
    parseDateWithDay(date) {
      const days = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
      return days[moment(date).day()];
    },
    parseDate(date) {
      return moment(date).format('DD/MM/YYYY');
    },
    parseTime(time) {
      const datetime = new Date(`1970-01-01T${time}Z`);
      return moment(datetime).format('hh:mm');
    },
  },
};
</script>

<style scoped lang="scss">
$mobile: 768px;

.orderOne{order:1;border-bottom: 1px solid #C8CFCE;width:100%;}
.orderTwo{order:2;width:100%;}
.row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.box{
        margin-top:21px;
        border: 1px solid #C8CFCE;
        border-radius: 5px;
        width: 90%;
        height: auto;

        .orderHeader {
            color: #202945;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            width: 100%;
            text-align: left;
            padding: 12px;
            box-sizing: border-box;
            border-bottom: 1px solid #C8CFCE;
        }
        .orderFooter {
            display:flex;
            justify-content: space-between;
            color: #202945;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding:12px;
            text-align: left;
            border-top: 1px solid #C8CFCE;
        }
        .products{
            display:flex;
            justify-content: space-between;
            align-items: center;
            color: #76777A;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding: 12px;
            box-sizing: border-box;
            text-align: left;
        }
        .productIcon{
            width:12px;
            height:16px;
            margin-right:10px;
            &.laundry{
                background: url('../assets/laundry.svg')no-repeat center;
                background-size: contain;
            }
            &.iron{
                background: url('../assets/iron.svg')no-repeat center;
                background-size: contain;
            }
        }
    }
    .deliveryContent{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        flex-direction:column;
    }
   @media (min-width: $mobile +1) {
   .pickUpDelivery{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:12px;
        padding-right:12px;
        padding-top:6px;
        padding-bottom:6px;
        font-family: Lato;
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
        &.InfoHeader{
            color: #2A375C;
            font-weight: 700;
            line-height: 17px;
            width: 240px;

        }
        &.data{
            color: #202945;
            font-weight: 400;
            line-height: 16px;
            justify-content: space-between;

        }
        &.address{

            color: #76777A;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
        }
        &.icon{
            width:15px;
            height:22px;
            background: url('../assets/ubicacion.svg')no-repeat center;
            background-size:contain;
        }
    }
   }
   @media (max-width: $mobile +1) {
       .pickUpDelivery{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:12px;
        padding-right:12px;
        padding-top:6px;
        padding-bottom:6px;
        font-family: Lato;
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
        &.InfoHeader{
            display:none;
        }
        &.data{
            color: #202945;
            font-weight: 400;
            line-height: 16px;
            justify-content: space-between;

        }
        &.address{
            display:none;
        }
        &.icon{
            display:none;
        }
    }
   }
</style>
