<template>
  <div
    id="order"
    class="order orderRow"
  >
    <div class="order leftSide">
      <div
        :class="{
          'icon pickup': order.logistics.code === 'PICKUP-DELIVERY',
          'icon pointer': order.logistics.code !== 'PICKUP-DELIVERY'}"
      />
      <div>
        <div class="orderHeader">
          Pedido {{ order.code }}
        </div>
        <div class="orderDetail">
          Fecha pedido: {{ order.orderDate }}
        </div>
      </div>
    </div>
    <Button :params="{order, products, addresses}" />
  </div>
</template>

<script>
import Button from './Button';

export default {
  name: 'OrderRow',
  components: {
    Button,
  },
  props: {
    order: { type: Object, default: () => {} },
    products: { type: Object, default: () => {} },
    addresses: { type: Object, default: () => {} },
  },
  data() {
    return {};
  },
  mounted() {
  },
  methods: {

  },
};
</script>

<style lang="scss">
.order{
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;

    &.orderRow{
        width:90%;
        padding-top:1em;
        padding-bottom:15px;
        box-sizing: border-box;
        border-bottom: 1px solid #C8CFCE;
    }
    &.leftSide{
        width: auto;
    }
}
    .icon{
        display:block;
        min-width:40px;
        height:40px;
        margin-right:10px;
        &.pickup{
            background:url('../assets/recogida.svg')no-repeat center;
            background-size: contain;
        }
        &.pointer{
            background:url('../assets/pointer.svg')no-repeat center;
            background-size: contain;
        }
    }
    .orderHeader {
        color: #202945;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        width: 272px;
        text-align: left;
    }
    .orderDetail{
        color: #76777A;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        width: 272px;
        text-align: left;
    }
</style>
