<template>
  <div
    id="ordersList"
    class="orderList"
  >
    <div class="header">
      <p>Informaci&oacute;n de tus pedidos</p>
    </div>
    <div
      v-if="orders.length>0"
      style="display:flex;justify-content:center;align-items:center;flex-direction:column;"
    >
      <OrderRow
        v-for="order in orders"
        :key="order.code"
        :order="order"
        :products="productsPerOrder(order)"
        :addresses="deliveryAddress(order)"
      />
    </div>
    <div v-if="orders.length===0">
      {{ message }}
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import OrderRow from './OrderRow';

export default {
  name: 'OrdersList',
  components: {
    OrderRow,
  },
  data() {
    return {
      orders: [],
      products: [],
      addresses: [],
      message: 'Cargando pedidos',
    };
  },
  computed: {

  },
  mounted() {
    const token = process.env.VUE_APP_DEV_TOKEN;
    const url = process.env.VUE_APP_DEV_URL;
    const config = {
      headers: { Authorization: `Bearer ${token}` },
    };
    axios
      .get(url, config)
      .then((response) => {
        this.checkForOrders(response);
        this.checkForProducts(response);
        this.checkForAdress(response);
      });
  },
  methods: {
    checkForOrders(_response) {
      const response = _response;
      if (Object.prototype.hasOwnProperty.call(response, 'data')) {
        if (Object.prototype.hasOwnProperty.call(response.data, 'orders')) {
          if (Object.prototype.hasOwnProperty.call(response.data.orders, '_embedded')) {
            if (Object.prototype.hasOwnProperty.call(response.data.orders._embedded, 'orders')) {
              this.orders = response.data.orders._embedded.orders;
            }
          }
        }
      }
      if (!this.orders) { this.orders = []; this.message = 'Sin pedidos'; }
    },
    checkForProducts(_response) {
      const response = _response;
      if (Object.prototype.hasOwnProperty.call(response, 'data')) {
        if (Object.prototype.hasOwnProperty.call(response.data, 'products')) {
          if (Object.prototype.hasOwnProperty.call(response.data.products, '_embedded')) {
            if (Object.prototype.hasOwnProperty.call(response.data.products._embedded, 'products')) {
              this.products = response.data.products._embedded.products;
            }
          }
        }
      }
      if (!this.products) { this.products = []; }
    },
    checkForAdress(_response) {
      const response = _response;
      if (Object.prototype.hasOwnProperty.call(response, 'data')) {
        if (Object.prototype.hasOwnProperty.call(response.data, 'addresses')) {
          if (Object.prototype.hasOwnProperty.call(response.data.addresses, '_embedded')) {
            if (Object.prototype.hasOwnProperty.call(response.data.addresses._embedded, 'addresses')) {
              this.addresses = response.data.addresses._embedded.addresses;
            }
          }
        }
      }
      if (!this.addresses) { this.addresses = []; }
    },
    productsPerOrder(order) {
      const { productsOrder } = order;
      const productsId = [];

      productsOrder.forEach((prod) => {
        productsId.push(prod.productId);
      });
      const filteredProducts = this.products.filter(product => productsId.includes(product.id));
      const objectifiedFilteredProducts = this._.groupBy(filteredProducts, b => b.id);
      return objectifiedFilteredProducts;
    },
    deliveryAddress(order) {
      const { visits } = order;
      const addressesId = [];

      visits.forEach((prod) => {
        addressesId.push(prod.addressId);
      });
      const filteredAddresses = this.addresses.filter(address => addressesId.includes(address.id));
      const objectifiedFilteredAddresses = this._.groupBy(filteredAddresses, b => b.id);
      return objectifiedFilteredAddresses;
    },
  },
};
</script>

<style lang="scss">
    .orderList{
        width:90%;
        height:549px;
        overflow-y: auto;
        overflow-x:hidden;
    }
    .header {
        position:sticky;
        top:0px;
        width:100%;
        line-height:64px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #202945;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        border-bottom: 1px solid #C8CFCE;
        background-color: #fff;
    }

</style>
