<template>
  <div
    id="orderDetail"
    class="orderDetailContainer"
  >
    <div
      id="order"
      class="order orderRow"
    >
      <div>
        <div class="orderHeader">
          Pedido {{ order.code }}
        </div>
        <div class="orderDetail">
          Fecha pedido: {{ order.orderDate }}
        </div>
      </div>
    </div>
    <div style="width:90%">
      <div class="subDetail">
        <div class="type">
          Pago
        </div>
        <div class="value">
          {{ order.transactionDetails.paymentStatus }}
        </div>
      </div>
      <div class="subDetail">
        <div class="type">
          Servicio
        </div>
        <div class="value">
          {{ order.orderType.description }}
        </div>
      </div>
    </div>
    <ProductsBox
      :order="order"
      :products="products"
    />
    <DeliveryBox
      :order="order"
      :products="products"
      :addresses="addresses"
    />
  </div>
</template>

<script>
import ProductsBox from './ProductsBox';
import DeliveryBox from './DeliveryBox';

export default {
  name: 'OrderDetail',
  components: {
    ProductsBox,
    DeliveryBox,
  },
  data() {
    return { order: {}, products: {}, addresses: {} };
  },
  created() {
    const { order, products, addresses } = this.$route.params;
    this.order = order;
    this.products = products;
    this.addresses = addresses;
  },
  methods: {
  },
};
</script>

<style scoped lang="scss">
$mobile: 768px;

@media (max-width: $mobile ){
.orderDetailContainer{width:100%;display:flex;justify-content: center;align-items: center;flex-direction:column;}
}
@media (min-width: $mobile ){
.orderDetailContainer{width:382px;display:flex;justify-content: center;align-items: center;flex-direction:column;}
}
.row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.order{
    overflow:hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    &.orderRow{
        // width:90%;
        padding-top:1em;
        padding-bottom:15px;
        box-sizing: border-box;
        border-bottom: 1px solid #C8CFCE;
    }
    &.leftSide{
        width: auto;
    }
}
    .icon{
        display:block;
        min-width:40px;
        height:40px;
        margin-right:10px;
        &.pickup{
            background:url('../assets/recogida.svg')no-repeat center;
            background-size: contain;
        }
        &.pointer{
            background:url('../assets/pointer.svg')no-repeat center;
            background-size: contain;
        }
    }
    .orderHeader {
        color: #202945;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        width: 272px;
        text-align: left;
    }
    .orderDetail{
        color: #76777A;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        width: 272px;
        text-align: left;
    }
    .subDetail{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .type{
            color: #76777A;
            width: 121px;
            text-align: left;
            margin-top:9px;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
        }
        .value{
            color: #76777A;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            width: 136px;
            text-align: right;
        }
    }

</style>
