<template>
  <div class="box">
    <div class="orderHeader">
      Productos
    </div>
    <div
      v-for="product in order.productsOrder"
      :key="product.id"
      class="products"
    >
      <div class="row">
        <div
          v-if="(products[product.productId][0].productType.code
            ===
            'IRON')"
          class="productIcon iron"
        />
        <div
          v-if="(products[product.productId][0].productType.code
            ===
            'LAUNDRY')"
          class="productIcon laundry"
        />
        <span>{{ product.quantity }} {{ products[product.productId][0].name }}</span>
      </div>
      <span>{{ Number(products[product.productId][0].price).toFixed(2) }}</span>
    </div>
    <div class="orderFooter">
      <span>Total:</span><span>{{ order.transactionDetails.totalPricePaid }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductsBox',
  components: {
  },
  props: {
    order: { type: Object, default: () => {} },
    products: { type: Object, default: () => {} },
  },
  data() {
    return {};
  },
  mounted() {
  },
  methods: {

  },
};
</script>

<style scoped lang="scss">
.row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.box{
        margin-top:21px;
        border: 1px solid #C8CFCE;
        border-radius: 5px;
        width: 90%;
        height: auto;

        .orderHeader {
            color: #202945;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            width: 100%;
            text-align: left;
            padding: 12px;
            box-sizing: border-box;
            border-bottom: 1px solid #C8CFCE;
        }
        .orderFooter {
            display:flex;
            justify-content: space-between;
            color: #202945;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding:12px;
            text-align: left;
            border-top: 1px solid #C8CFCE;
        }
        .products{
            display:flex;
            justify-content: space-between;
            align-items: center;
            color: #76777A;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding: 12px;
            box-sizing: border-box;
            text-align: left;
        }
        .productIcon{
            width:12px;
            height:16px;
            margin-right:10px;
            &.laundry{
                background: url('../assets/laundry.svg')no-repeat center;
                background-size: contain;
            }
            &.iron{
                background: url('../assets/iron.svg')no-repeat center;
                background-size: contain;
            }
        }
    }
</style>
