<template>
  <div class="step">
    <div class="exercise">
      <h1>Task 6 - Tests 🥇</h1>
      <p>
        Genera los tests que consideres oportunos para el componente realizado.
      </p>
    </div>
    <div class="info">Has llegado al final, enhorabuena! 🎉🎉🎉</div>
  </div>
</template>

<script>
export default {
  name: 'step-five'
}
</script>
