<template>
  <div class="checkout-wrapper">
    <ol class="checkout">
      <li
        v-for="(step, stepIndex) in steps"
        :key="step.id"
        class="step"
        :class="{
          'prev': stepIndex < currentStep,
          'active': stepIndex === currentStep }"
      >
        <span class="step-dot">{{ stepIndex }}</span>
        <span
          class="step-label"
          :class="{'bottom': position === 'down', 'top': position === 'top'}"
        >{{ step.name }}</span>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'Stepper',

  props: {
    currentStep: {
      type: Number,
      default: 0,
    },
    steps: {
      type: Array,
      required: true,
    },
    position: {
      type: String,
      default: 'top',
    },
  },

  data() {
    return {

    };
  },

  methods: {

  },
};
</script>

<style lang="scss">

$line-width: 6px;
$line-color: rgb(224, 102, 102);
$label-height: 2em;
$label-color-active: rgb(224, 102, 102);
$label-color-inactive: #99a4ac;
$mobile: 768px;

@media (max-width: $mobile) {
.checkout-wrapper {
  box-sizing: border-box;
  border: 1px solid #DDD;
  width: 100%;
}
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 2rem 0;
  padding-left: 0;
  text-align: center;
  list-style: none;

  .step {
    cursor: default;
    display:none;
    justify-content: center;
    align-items: center;
    height: 20px;
    position: absolute;
    background-color:#fff;
    z-index: 0;
  }
  .active{
    display:flex;
  }
  .step-dot {
    display: none;
  }

  .step.prev,
  .step.active {

    .step-dot {
      display: none;
    }

    &:before {
      border-bottom-color: $line-color;
    }
  }

  .step.prev {
    display:none;

    &:after {
      border-bottom-color: $line-color;
    }
  }

  .step-label {
    order: 1;
    left: 50%;
    color: $label-color-inactive;
    font-weight: 600;
    white-space: nowrap;
    visibility: visible;
    cursor: pointer;
  }

  .step.active .step-label {
    color: $label-color-active;
    font-weight: bold;
    visibility: visible;
    // display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
         max-width: 50%;
  }

  .step:not(.active) .step-label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

button + button {
  margin-left: 1rem;
}
}
@media (min-width: $mobile) {
.checkout-wrapper {
  box-sizing: border-box;
  border: 1px solid #DDD;
  padding: 1rem;
  width: 100%;
}
.checkout {
  display: flex;
  margin: 2rem 0;
  padding-left: 0;
  padding-bottom: 2em;
  text-align: center;
  list-style: none;

  .step {
    cursor: default;
    flex: 1 1 100%;
    height: 20px;
    position: relative;
    z-index: 0;

    &:before,
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-2px);
      border-bottom: $line-width solid #eee;
      z-index: -1;
    }

    &:before {
      left: 0;
      right: 50%;
    }

    &:after {
      left: 50%;
      right: 0;
    }

    &:first-child:before { left: 50%;}
    &:last-child:after { right: 50%; }
  }

  .step-dot {
    order:2;
    display: inline-block;
    background-color: #eee;
    color: #aaa;
    width: 4 * $line-width;
    height: 4 * $line-width;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
  }

  .step.prev,
  .step.active {

    .step-dot {
      order:2;
      background-color: $line-color;
      color: #fff;
      cursor: pointer;
    }

    &:before {
      border-bottom-color: $line-color;
    }
  }

  .step.prev {

    &:after {
      border-bottom-color: $line-color;
    }
  }

  .step-label {
    order: 1;
    position: absolute;
    background-color:#fff;
    left: 50%;
    transform: translateX(-50%);
    color: $label-color-inactive;
    font-weight: 600;
    white-space: nowrap;
    visibility: visible;
    flex-wrap: wrap;
    cursor: pointer;
    &.bottom{
      bottom: -$label-height;
    }
    &.top{
      top: -$label-height;
    }
  }

  .step.active .step-label {
    display:flex;
    color: $label-color-active;
    font-weight: bold;
    visibility: visible;
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
         max-width: 50%;
  }

  .step:not(.active) .step-label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

button + button {
  margin-left: 1rem;
}
}
</style>
